.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-repeat: no-repeat, no-repeat;
  background-image: url('assets/blob-scene-haikei.svg');
  background-position: top left, bottom right;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  max-width: 80%;
  margin: 10px;
}


h2 {
  font-size: 2rem;
  margin-top: 0;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;
}

.myButton {
	box-shadow: 8px 10px 0px 0px #430044;
	background-color:#ce00d1;
	border-radius:2px;
	border:1px solid #000912;
	font-size:35px;
	padding:12px 44px;
}

.myButton:hover {
  transition: all 0.2s ease-in-out;
	box-shadow: 4px 5px 0px 0px #430044;
  -webkit-transform: translate(4px,5px);
	transform: translate(4px,5px);

}

.myButton-green {
	box-shadow: 8px 10px 0px 0px #00652c;
	background-color:#00c00d;
	border-radius:2px;
	border:1px solid #000912;
	font-size:35px;
	padding:12px 44px;
}

.myButton-green:hover {
  transition: all 0.2s ease-in-out;
	box-shadow: 4px 5px 0px 0px #00652c;
  -webkit-transform: translate(4px,5px);
	transform: translate(4px,5px);

}

.myButton-red {
	box-shadow: 8px 10px 0px 0px #780a00;
	background-color:#b80000;
	border-radius:2px;
	border:1px solid #000912;
	font-size:35px;
	padding:12px 44px;
}

.myButton-red:hover {
  transition: all 0.2s ease-in-out;
	box-shadow: 4px 5px 0px 0px #780a00;
  -webkit-transform: translate(4px,5px);
	transform: translate(4px,5px);

}

.myButton-gray {
	box-shadow: 8px 10px 0px 0px #3f3f3f;
	background-color:#656565;
	border-radius:2px;
	border:1px solid #000912;
	font-size:35px;
	padding:12px 44px;
}

.myButton-gray:hover {
  transition: all 0.2s ease-in-out;
	box-shadow: 4px 5px 0px 0px #3f3f3f;
  -webkit-transform: translate(4px,5px);
	transform: translate(4px,5px);

}
